* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 1.5em 2em;
}

header h1 {
  text-transform: capitalize;
  font-weight: normal;
}

header form input {
  height: 40px;
  padding: 0 10px;
}

header form button {
  background-color: yellow;
  border: none;
  padding: 1em 1.3em;
}

header a {
  color: white;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  overflow: hidden;
  box-shadow: 0 0 15px lightgray;
  border-radius: 10px;
}

.card .card-content {
  padding: 10px;
}

.card .card-img {
  width: 100;
  height: 100;
  object-fit: contain;
}

.card .product-name {
  font-weight: 600;
  font-size: 1.3rem;
}

.product-price {
  color: green;
}

.card:hover {
  scale: 1.1;
  transition: all 300ms;
}

footer {
  position: sticky;
  bottom: 0;
  left: 0;
  text-align: center;
}
